<div data-controller="clipboard" class="mt-4 bg-gray-50 p-6">
  <input type="text" class="form-input bg-grey-50" value="SeCrEtKeY-42!" data-clipboard-target="source" readonly />

  <button class="btn" data-clipboard-target="button" data-action="clipboard#copy">
    Copy
  </button>
</div>

<div data-controller="clipboard" class="mt-4 bg-gray-50 p-6">
  <input type="text" class="form-input bg-grey-50" value="BRUG" data-clipboard-target="source" readonly />

  <button class="btn" data-clipboard-target="button" data-action="clipboard#copy">
    Copy
  </button>
</div>

<input type="text" class="form-input bg-grey-50" value="" data-clipboard-target="source" />
