<div data-controller="counter" data-counter-count-value="42" class="flex flex-col items-center mt-3">
  <div class="text-2xl">
    The count is: <span data-counter-target="result"></span>
  </div>
  <div class="flex space-x-4 my-4">
    <button class="flex px-3 py-2 bg-red-400 mr-1 text-white font-semibold rounded" data-action="counter#inc">+</button>
    <button class="flex px-3 py-2 bg-blue-400 mr-1 text-white font-semibold rounded" data-action="counter#dec">-</button>
  </div>
  <script src="https://gist.github.com/krzykamil/1ad96463bc00ecc8c4e732939d0f7ee2.js"></script>
</div>
