<div data-controller="drawing" class="mt-4 p-6">

  <h1>Drawing Shit</h1>

  <button class="my-4 mx-4 px-3 py-2 bg-red-600 font-semibold rounded" data-action="drawing#lineX">Draw Horizontal</button>
  <button class="my-4 mx-4 px-3 py-2 bg-orange-400 font-semibold rounded" data-action="drawing#lineY">Draw Vertical</button>

  <canvas data-drawing-target="canvas" id="canvas" height="400" width="500"></canvas>
</div>
