<div data-controller="drawing" class="mt-4 p-6">

  <h1>Drawing Lines</h1>

  <button
    class="my-4 mx-4 px-3 py-2 bg-red-600 font-semibold rounded"
    data-action="drawing#drawLine"
    data-drawing-length-param="300"
    data-drawing-direction-param="horizontal"
    data-drawing-x-param="100"
    data-drawing-y-param="100"
  >
    Draw Horizontal Long
  </button>
  <button
    class="my-4 mx-4 px-3 py-2 bg-red-600 font-semibold rounded"
    data-action="drawing#drawLine"
    data-drawing-length-param="100"
    data-drawing-direction-param="horizontal"
    data-drawing-x-param="200"
    data-drawing-y-param="150"
  >
    Draw Horizontal Short
  </button>
  <button
    class="my-4 mx-4 px-3 py-2 bg-orange-400 font-semibold rounded"
    data-action="drawing#drawLine"
    data-drawing-length-param="300"
    data-drawing-direction-param="vertical"
    data-drawing-x-param="300"
    data-drawing-y-param="100"
  >
    Draw Vertical Long
  </button>
  <button
    class="my-4 mx-4 px-3 py-2 bg-orange-400 font-semibold rounded"
    data-action="drawing#drawLine"
    data-drawing-length-param="100"
    data-drawing-direction-param="vertical"
    data-drawing-x-param="400"
    data-drawing-y-param="200"
  >
    Draw Vertical Short
  </button>

  <canvas data-drawing-target="canvas" id="canvas" height="400" width="500"></canvas>

  <script src="https://gist.github.com/krzykamil/12c758bdd845d98887b2befedef60826.js"></script>
</div>
